[build]
  command = "npm install --legacy-peer-deps && npx vite build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "18"
  VITE_OPENROUTER_API_KEY = "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"
  SECRETS_SCAN_OMIT_KEYS = "VITE_API_URL,VITE_SUPABASE_URL,VITE_SUPABASE_ANON_KEY,VITE_GOOGLE_CLIENT_ID,VITE_OPENROUTER_API_KEY"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
